body {
    background-color: rgb(140, 237, 145);
}

.top {
    background-color: white;
    width: 95%; 
    padding: 10px;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    border-radius: 10px;
}

#title {
    
}

.body{
    width: 95%;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

.logInBox{
    width: 95%;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.logInButton{
    color: black;
    padding: 2px 4px;
    border: 1px outset buttonborder;
    background-color: buttonface;
    text-decoration: none;
    font-size: 16px;
}

#logInOpen {
    background-color: buttonface;
    color: black;
    float: right; 

}

