.body {
    padding: 15px;
}

#itemTitle {
    font-size: 30px;
}

#image {
    width: 50%;
    border-radius: 4px;
}

#text {
    border-top: solid gray;
    margin-top: 20px;
}

#quantity {
    width: 30px;
}    

#putHoldButton {
    float: right;
}
